/node_modules
/public/hot
/public/storage
/public/storage/*
/public/docs
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
Archive.zip
/uploads
vendor.zip
/storage
